[
    {config, [
        #{
            files => ["src/**/*.erl"],
            ruleset => erl_files_strict,
            rules => [
                %% @todo Re-add this rule once https://github.com/inaka/elvis_core/issues/623 is fixed
                {elvis_style, consistent_ok_error_spec, disable},
                %% We convert to atoms here, there, and everywhere
                {elvis_style, no_common_caveats_call, disable},
                %% @todo Re-add these rules when we move past OTP27:
                {elvis_style, prefer_strict_generators, disable},
                {elvis_style, max_function_length, #{max_length => 50}},
                {elvis_style, max_function_clause_length, #{max_length => 50}},
                {elvis_style, private_data_types, #{apply_to => [record]}}
            ]
        },
        %% Don't analyze test/files
        #{
            files => ["test/*.erl"],
            ruleset => erl_files_strict,
            rules => [
                %% @todo Re-add these rules when we move past OTP27:
                {elvis_style, prefer_strict_generators, disable},
                {elvis_style, prefer_sigils, disable},
                {elvis_style, max_function_length, #{max_length => 100}},
                {elvis_style, max_function_clause_length, #{max_length => 100}},
                {elvis_style, no_debug_call, disable}
            ]
        }
    ]}
].
