[{elvis,
  [{config,
    [#{dirs => ["src", "src/**"],
       filter => "*.erl",
       ruleset => erl_files,
       rules => [{elvis_style, private_data_types, #{apply_to => [record]}}]},
     #{dirs => ["test"], %% Don't analyze test/files
       filter => "*.erl",
       ruleset => erl_files,
       rules => [{elvis_style, no_debug_call, disable}]}]}]}].
