{erl_opts,
 [warn_unused_import, warn_export_vars, warnings_as_errors, verbose, report, debug_info]}.

{minimum_otp_vsn, "21"}.

{deps, [{katana_code, "~> 1.2.0"}]}.

{ex_doc,
 [{source_url, <<"https://github.com/AdRoll/rebar3_hank">>},
  {extras, [<<"README.md">>, <<"LICENSE">>]},
  {main, <<"readme">>}]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{project_plugins,
 [{rebar3_hex, "~> 7.0.1"},
  {rebar3_format, "~> 1.0.1"},
  {rebar3_lint, "~> 1.0.2"},
  {rebar3_sheldon, "~> 0.4.2"},
  rebar3_ex_doc]}.

{dialyzer, [{warnings, [no_return, unmatched_returns, error_handling, underspecs]}]}.

{edoc_opts,
 [{todo, true},
  {title, "Hank"},
  {overview, "priv/overview.edoc"},
  {packages, true},
  {subpackages, true},
  {source_path, "src"},
  {application, rebar3_hank},
  {new, true},
  report_missing_types]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{format,
 [{files,
   ["priv/**/*.?rl", "src/**/*.app.src", "src/**/*.erl", "test/*.erl", "*.config"]}]}.

{spellcheck,
 [{ignore_regex,
   "(eunit|=>|~t|_|[a-z][A-Z]|[*]|~>|[.]/|[A-Za-z0-9]/\\d|Î²|[.].rl|[.]config|[?][A-Za-z]|[a-z][:/][a-z]|\\d[.]\\d|[#][a-z0-9]|<[a-z/]|[a-z][(]|[{][a-z])"},
  {files, ["src/**/*.?rl", "src/*.app.src", "test/**/*.?rl"]},
  {additional_dictionaries, ["nextroll.dict", "test.dict"]}]}.

{alias,
 [{test, [compile, format, spellcheck, lint, dialyzer, {ct, "--verbose"}, cover, edoc]}]}.

{hex, [{doc, #{provider => edoc}}]}.
