{erl_opts,
 [warn_unused_vars,
  warn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  debug_info]}.

{minimum_otp_vsn, "21"}.

{deps, [{katana_code, "~> 1.1.0"}]}.

{project_plugins,
 [{rebar3_hex, "~> 6.11.0"}, {rebar3_format, "~> 1.0.0"}, {rebar3_lint, "~> 0.4.0"}]}.

{dialyzer,
 [{warnings, [no_return, unmatched_returns, error_handling, underspecs]},
  {get_warnings, true},
  {plt_apps, top_level_deps},
  {plt_extra_apps, []},
  {plt_location, local},
  {base_plt_apps, [erts, kernel, stdlib, runtime_tools, syntax_tools]}]}.

{edoc_opts,
 [{todo, true},
  {title, "Hank"},
  {overview, "priv/overview.edoc"},
  {packages, true},
  {subpackages, true},
  {source_path, "src"},
  {application, rebar3_hank},
  {new, true},
  report_missing_types]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{format,
 [{files,
   ["priv/**/*.?rl", "src/**/*.app.src", "src/**/*.erl", "test/*.erl", "*.config"]}]}.

{alias, [{test, [compile, format, lint, dialyzer, {ct, "--verbose"}, cover, edoc]}]}.
