%% This is not really used, but the rule `unused_configuration_options` should ignore this whole file :)
[
 {
   elvis,
   [
    {config,
     [#{dirs => ["include"],
        filter => "*.hrl",
        rules => [
            {elvis_text_style, line_length, #{limit => 150, skip_comments => false}},
            {elvis_text_style, no_tabs},
            {elvis_text_style, no_trailing_whitespace},
            {elvis_style, macro_module_names},
            {elvis_style, no_if_expression},
            {elvis_style, no_behavior_info}
        ]
      },
      #{dirs => ["."],
        filter => "elvis.config",
        ruleset => elvis_config
      }
     ]
    }
   ]
 }
].
