%% This is not really used, but the rule `unused_configuration_options` should ignore this whole file :)
{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{minimum_otp_vsn, "23"}.

{deps, []}.

{profiles, []}.

{project_plugins, [
    {rebar3_format, "~> 0.9.0"}
]}.

{eunit_opts, [verbose]}.

{ct_opts, [{sys_config, "rebar3.test.config"}]}.
